<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swein.shandroidtoolutils">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <user-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".application.SHAndroidToolUtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity="com.swein.framework.module.spacemanage.ManageSpaceActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swein.framework.module.spacemanage.ManageSpaceActivity"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.swein.recycleview.random.activity.RecyclerViewRandomActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.swein.tabhostandtablayout.activity.TabHostActivity" />
        <activity android:name="com.swein.activity.animation.StartActivity" />
        <activity android:name="com.swein.activity.animation.EndActivity" />
        <activity
            android:name="com.swein.toolbar.activity.ToolbarActivity"
            android:theme="@style/AppThemeToolbar" />
        <activity android:name="com.swein.camera.system.activity.SystemCameraActivity" />
        <activity
            android:name="com.swein.camera.custom.activity.CustomCameraActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.swein.camera.custom.result.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.swein.camera.advance.activity.AdvanceCameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.swein.autotest.ui.espresso.EspressoTestExampleActivity" />
        <activity android:name="com.swein.autotest.ui.espresso.EspressoTestWebViewActivity" />
        <activity android:name="com.swein.framework.module.devicepolicymanager.activity.DevicePolicyManagerActivity" />

        <receiver
            android:name="com.swein.framework.module.devicepolicymanager.receiver.DeviceReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_list" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.swein.framework.module.navertranslation.activity.NaverTranslationActivity" />
        <activity android:name="com.swein.framework.module.dragmenu.view.activity.DMMainActivity" />
        <activity android:name="com.swein.framework.rxjava2.demo.ui.RxJava2Activity" />

        <uses-library android:name="android.test.runner" />

        <activity android:name="com.swein.pattern.observer.activity.JustActivity" />
        <activity android:name="com.swein.framework.template.shrecycleview.activity.SHRecyclerViewActivity"/>

    </application>

</manifest>