<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swein.shandroidtoolutils">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.swein.shandroidtoolutils.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.swein.shandroidtoolutils.permission.C2D_MESSAGE" />

    <user-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".application.SHAndroidToolUtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity="com.swein.framework.module.spacemanage.ManageSpaceActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
            add android:configChanges="orientation|screenSize"
            can make activity not re-create when screen size and orientation changed
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swein.framework.module.spacemanage.ManageSpaceActivity"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.swein.toolbar.activity.ToolbarActivity"
            android:theme="@style/AppThemeToolbar" />
        <activity android:name="com.swein.autotest.ui.espresso.EspressoTestExampleActivity" />
        <activity android:name="com.swein.autotest.ui.espresso.EspressoTestWebViewActivity" />
        <activity android:name="com.swein.framework.module.devicepolicymanager.activity.DevicePolicyManagerActivity" />

        <receiver
            android:name="com.swein.framework.module.devicepolicymanager.receiver.DeviceReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_list" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.swein.framework.module.navertranslation.activity.NaverTranslationActivity" />
        <activity android:name="com.swein.framework.module.dragmenu.view.activity.DMMainActivity" />
        <activity android:name="com.swein.framework.rxjava2.demo.ui.RxJava2Activity" />

        <uses-library android:name="android.test.runner" />

        <activity android:name="com.swein.pattern.observer.activity.JustActivity" />
        <activity android:name="com.swein.framework.template.shrecycleview.activity.SHRecyclerViewActivity" />
        <activity android:name="com.swein.framework.template.slidingtabs.activity.SHSlidingTabViewPagerContainerActivity" />
        <activity android:name="com.swein.framework.template.cardview.activity.SHCardViewActivity" />
        <activity android:name="com.swein.framework.template.tabhost.activity.SHTabHostActivity" />
        <activity
            android:name="com.swein.framework.module.qrcodescanner.activity.SHQRCodeScannerActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name="com.swein.framework.module.gcmpush.activity.GoogleCloudMessageActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.swein.shandroidtoolutils" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.swein.framework.module.gcmpush.receiver.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.swein.framework.module.gcmpush.register.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity android:name="com.swein.framework.module.datepicker.activity.DatePickerActivity"></activity>
    </application>

</manifest>