<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.swein.shandroidtoolutils"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <receiver
        android:name="com.google.android.gms.analytics.AnalyticsReceiver"
        android:enabled="true">
        <intent-filter>
            <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
        </intent-filter>
    </receiver>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".application.SHAndroidToolUtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swein.listview.pattern.delegate.activity.DelegateExampleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.swein.media.player.videoview.activity.VideoViewActivity" />
        <activity android:name="com.swein.recycleview.list.activity.RecyclerViewListActivity"></activity>
    </application>

</manifest>